#homePage .box-card {
    margin: 0 auto;
    padding: 100px 10px;
}

#loginPage .box-card,
#registerPage .box-card {
    margin: 0 auto;
    padding: 40px 80px;
}

.box-card {
    background-color: rgba(255, 255, 255, 0.25);

    /*    圆角*/
    border-radius: 10px;

    /*    边框 深灰色*/
    border: 1px solid #60626622;

    /*    文字颜色 深灰色 */
    color: #606266;
}

.dark .box-card {
    background-color: rgba(255, 255, 255, 0.02);

    /*    边框浅灰色*/
    border: 1px solid #e4e4e422;

    /*    文字颜色 浅灰色*/
    color: #bcc0c7;
}