:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}


h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    /*background-color: #1a1a1a;*/
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    padding: 2em;
}

#homePage,
#loginPage,
#registerPage,
#userPage {

    margin: 10% 10%;

    /*    内部文字居中*/
    text-align: center;
    min-width: 60%;

}

#registerPage {
    margin: 5% 10%;
}

#homePage .box-card,
#loginPage .box-card,
#registerPage .box-card
#userPage .box-card {
    margin: 0 auto;
    padding: 100px 10px;
}

#loginPage .box-card,
#registerPage .box-card {
    padding: 40px 80px;
}


/*适配手机宽度*/
@media screen and (max-width: 600px) {
    #homePage,
    #loginPage,
    #registerPage,
    #userPage {
        margin: 1% 1%;
    }

    #loginPage .box-card,
    #registerPage .box-card,
    #userPage .box-card {
        padding: 20px 20px;
    }
}

/* 适配较低屏幕高度 */
@media screen and (max-height: 600px) {
    #homePage,
    #loginPage,
    #registerPage,
    #userPage {
        margin: 1% 1%;
    }

    #loginPage .box-card,
    #registerPage .box-card
    #userPage .box-card {
        padding: 20px 20px;
    }
}
