#homePage,
#loginPage,
#registerPage,
#userPage {

    margin: 10% 10%;

    /*    内部文字居中*/
    text-align: center;
    min-width: 60%;

}

#registerPage {
    margin: 5% 10%;
}

#chatPage {
    margin: 80px 10% 150px 10%;
}


.chatPage-affix-input {
    margin: 0px 10% 0px 10%;
    height: 50px;
}

.chatPage-affix-btns {
    margin: 0px 10% 0px 10%;
}

#chatPage {
    margin-bottom: 200px;
}

/*适配手机宽度*/
@media screen and (max-width: 600px) {
    #homePage,
    #loginPage,
    #registerPage,
    #userPage,
    #chatPage {
        margin: 80px 1%;
    }

    #loginPage .box-card,
    #registerPage .box-card,
    #userPage .box-card {
        padding: 20px 20px;
    }

    #chatPage {
        margin: 80px 1% 180px 1%;
    }

    .chatPage-affix-input {
        margin: 0px 3%;
    }

    .chatPage-affix-btns {
        margin: 0px 3% 0px 3%;
    }

    #chatPage-table {
        /*    铺满全屏*/
        width: 95%;

    }
}